/* ===============
	LINKS
=============== */

a {
  text-decoration: none;
  color: black;
  transition: $global-transition;

  &:hover {
    .c-post-title {
      color: $link-color-hover;
    }
  }
}
