/* ===============
	TYPOGRAPHY
=============== */

// Body font
$base-font-size: 15px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Nanum Gothic', sans-serif, 'Open Sans', Helvetica, Arial;
$base-line-height: 28px;


// Headings
$heading-font-weight: 400;
$heading-font-family: 'Noto Serif KR', serif, sans-serif, 'Volkhov', 'Times New Roman', Times, serif;
